# Custom arv-anshul .gitignore snippet
__pycache__/
__rough__/
.DS_Store
.env
.ipynb_checkpoints/
.venv/
*__rough__*.*
*.arv
*.arv.*
*.lock
arv.*
logs/
site/

# Do not ignore `requirements.lock` file because
# it is used to setup the project with `pip`
!requirements.lock
- ZH-TW/index.md 
- en/index.md