:root>* {
  --md-primary-fg-color: #518FC1;
  --md-primary-fg-color--light: #518FC1;
  --md-primary-fg-color--dark: #518FC1;

}

/* 给所有元素加上边框 */
/* * {
    outline: 1px solid #518FC1;
  }  */
/* :root {
  transition: --md-primary-color 0.5s ease, --md-accent-color 0.5s ease;
} */

/* .md-nav__list{
color: #4350AF;
} */

/* .md-banner {
  background-color: #074f9d;
} */

button.md-top {
  font-family: LXGW WenKai;
  /* 修改字体 */
  font-size: 16px;
  /* 修改字体大小 */
  font-weight: lighter;
  /* 修改字体粗细 */
  /* color: #4351AF; */
  /* 修改字体颜色 */
}

:root {
  --md-text-font: "LXGW WenKai";
}

/* @font-face {
  font-family: "LXGW WenKai";
  src: "https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Bold/result.css";
} */


/* 字体 */

.ml3 {
  font-weight: 900;
  font-size: 30px;
  font-family: LXGW WenKai;
}


img.img1 {
  border-radius: 25px;

}

img.img2 {
  border-radius: 25px;

}

img.img3 {
  border-radius: 25px;

}

img.twitter {
  color: #1DA1F2;
}

.bilibili {
  color: #EA7A99;
}

.github {
  color: #25292E;
}

.laptop{
  color:#d1e82a;
}

@keyframes heart {

  0%,
  40%,
  80%,
  100% {
    transform: scale(1);
  }

  20%,
  60% {
    transform: scale(1.15);
  }
}

.heart {
  animation: heart 1000ms infinite;
}

:root {
  --md-admonition-icon--pied-piper: url("data:image/svg+xml,%3Csvg width='30.000000' height='30.000000' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip103_2030'%3E%3Crect id='icon' width='30.000000' height='30.000000' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip103_2030)'%3E%3Cpath id='icon' d='M25.8 5.40002L25.8 24.6L4.20001 24.6L4.20001 5.40002L25.8 5.40002ZM9.60001 10.8L13.8 15L9.60001 19.2M15.6 19.2L21.6 19.2' stroke='%23101112' stroke-width='1.200000'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.md-typeset .admonition.pied-piper,
.md-typeset details.pied-piper {
  border-color: rgb(43, 155, 70);
  font-size: large;

}

.md-typeset .pied-piper>.admonition-title,
.md-typeset .pied-piper>summary {
  background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .pied-piper>.admonition-title::before,
.md-typeset .pied-piper>summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
  mask-image: var(--md-admonition-icon--pied-piper);
}


:root {

  --md-admonition-icon--pied-piper1: url("data:image/svg+xml,%3Csvg width='30.000000' height='30.000000' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip103_2030'%3E%3Crect id='icon' width='30.000000' height='30.000000' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip103_2030)'%3E%3Cpath id='icon' d='M25.8 5.40002L25.8 24.6L4.20001 24.6L4.20001 5.40002L25.8 5.40002ZM9.60001 10.8L13.8 15L9.60001 19.2M15.6 19.2L21.6 19.2' stroke='%23101112' stroke-width='1.200000'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.md-typeset .admonition.pied-piper1,
.md-typeset details.pied-piper1 {
  border-color: rgb(96, 141, 189);
  font-size: large;
  width: 100%;
  /* border-radius:25px; */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.md-typeset .pied-piper1>.admonition-title,
.md-typeset .pied-piper1>summary {
  background-color: linear-gradient(to right, rgba(238, 243, 254));
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 45px;
  width: auto;


}

.md-typeset .pied-piper1>.admonition-title::before,
.md-typeset .pied-piper1>summary::before {
  background-color: rgb(31, 31, 33);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper1);
  mask-image: var(--md-admonition-icon--pied-piper1);
}


/* 滚动条 */
/* .git-revision-date-localized-plugin { color: #608DBD; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 10px;
  
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}
::-webkit-scrollbar:hover {
  width: 7px;
  height: 7px;
} */



/*bilbili*/
/*哔哩哔哩视频适配*/
/* .aspect-ratio {
  position: relative;
  width: 90%;
  height: auto;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 86%;
  left: 0;
  top: 0;
} */


/*圆角*/
#rcorners1 {
  border-radius: 25px;
  background: linear-gradient(to right, rgba(189, 224, 245), rgba(218, 232, 241), rgba(238, 237, 238));
  /* #F0EFEB; F5F4F1*/
  padding: 20px;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 16px;
}


#rcorners2 {
  border-radius: 25px;
  border: 2px solid #518FC1;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

#rcorners3 {
  border-radius: 25px;
  border: 2px solid #518FC1;
  padding: 20px;
  width: 100%;
  height: 100%;
}

#rcorners4 {
  border-radius: 25px;
  border: 2px solid #518FC1;
  padding: 20px;
  width: 110%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  #rcorners4 {
    border: none; /* 在手机上移除外框 */
    width: 100%; /* 将宽度调整为100% */
  }
}



#rcorners5 {
  border-radius: 25px;
  border: 2px solid #518FC1;
  padding: 20px;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  #rcorners5 {
    border: none; /* 在手机上移除蓝色外框 */
  }
}


.image-container {
  text-align: center;
  /* 居中对齐容器中的内容 */
}

.image-container img {
  display: inline-block;
  /* 将图片水平排列在一行 */
  margin: 10px;
  /* 可以根据需要添加图片之间的间距 */
}



/* 渐变 */
#grad1 {
  height: 200px;
  background-color: red;
  /* 不支持线性的时候显示 */
  background-image: linear-gradient(to bottom right, red, yellow);
}

/* 按钮 */
.buttoncss {
  background-color: #4CAF50;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttoncss1 {
  background-color: #567fd0;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.buttonxuan {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonxuan1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.buttonxuan1:hover {
  background-color: #4CAF50;
  color: white;
}

.buttonxuan2 {
  display: inline-block;
  background-color: #ACE48E;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: 2px solid;
  border-radius: 25px;
}

.buttonxuan2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonxuan2 span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonxuan2:hover span {
  padding-right: 25px;
}

.buttonxuan2:hover span:after {
  opacity: 1;
  right: 0;
}

/* .buttonxuan3 */
.buttonxuan3:hover {
  display: inline-block;
  background-color: #5577D1;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: 2px solid;
  border-radius: 25px;
}

.buttonxuan3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonxuan3 span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonxuan3:hover span {
  padding-right: 25px;
}

.buttonxuan3:hover span:after {
  opacity: 1;
  right: 0;
}



/* 蕴藏 */
div.hide {
  background-color: yellow;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  div.hide {
    display: none;
  }
}

/* 布局 */
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


/* 变灰代码 */
/* html {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(100%);} */

/* Markdown内联块网格列表样式圆角和阴影 */
.md-typeset .grid.cards>ol>li,
.md-typeset .grid.cards>ul>li,
.md-typeset .grid>.card {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.7rem;
  /* 修改圆角大小 */
  display: block;
  margin: 0;
  padding: 0.8rem;
  transition: border 0.25s, box-shadow 0.25s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* 修改阴影效果 */
  /* box-shadow: 水平偏移量 垂直偏移量 模糊半径 扩散半径 色值; */
}


ol>li {
  list-style-type: decimal;
}

/* 诗词留言板 */

@media (max-width: 991px) {
  .followme .social-list .social-item {
    margin: 0.5em 0.75em;
  }
}

.followme .social-list .social-link {
  border: 0;
  display: inline-block;
  text-align: center;
}

.followme .social-list .social-link .icon {
  font-size: 1.75em;
  height: 1.75em;
  width: 1.75em;
}

.followme .social-list .social-link .label {
  display: block;
  font-size: 14px;
}

.poem-wrap {
  position: relative;
  width: 730px;
  max-width: 80%;
  border: 2px solid #797979;
  border-top: none;
  text-align: center;
  margin: 80px auto;
}

.poem-wrap h1 {
  font-size: 30px;
  position: relative;
  margin-top: -20px;
  display: inline-block;
  letter-spacing: 4px;
  color: #797979;
}

.poem-wrap p {
  width: 70%;
  margin: auto;
  line-height: 30px;
  color: #797979;
}

.poem-wrap p#poem {
  font-size: 25px;
}

.poem-wrap p#info {
  font-size: 15px;
  margin: 15px auto;
}

.poem-border {
  position: absolute;
  height: 2px;
  width: 27%;
  background-color: #797979;
}

.poem-right {
  right: 0;
}

.poem-left {
  left: 0;
}

@media (max-width: 685px) {
  .poem-border {
    width: 18%;
  }
}

@media (max-width: 500px) {
  .poem-wrap {
    margin-top: 60px;
    margin-bottom: 20px;
    border-top: 2px solid #797979;
    border-radius: 10px; /* 添加圆角 */
  }

  .poem-wrap h1 {
    margin: 20px 6px;
  }

  .poem-border {
    display: none;
  }
}


/* 打赏 */
.reward-container {
  margin: 20px auto;
  padding: 10px 0;
  text-align: center;
  width: 90%;
}

.reward-container button {
  background: transparent;
  border: 1px solid #6A8CB9;
  border-radius: 0;
  color: #6A8CB9;
  cursor: pointer;
  line-height: 2;
  outline: 0;
  padding: 0 15px;
  vertical-align: text-top;
}

.reward-container button:hover {
  background: transparent; /* 移除填充颜色，设置为透明 */
  border: 1px solid #608DBD; /* 保留这个框的外框颜色 */
  color: #e480b2;
}

/* 新增样式 */
#qr {
  display: none;
  text-align: center;
}

#qr img {
  width: 250px;
  /* 调整图像大小 */
  margin: 10px;
  /* 添加一些间距 */
  border-radius: 25px;
}

#qr p {
  font-size: 16px;
  /* 调整字体大小 */
  color: #555;
  /* 更改字体颜色 */
}

/* 打赏end */


/* 遮盖begin */
.mask {
  background-color: #252525;
  color: #252525;
  transition: color 0.5s;
}

.mask:hover {
  color: #ffffff;
}

