/* 诗词留言板 */

@media (max-width: 991px) {
    .followme .social-list .social-item {
      margin: 0.5em 0.75em;
    }
  }
  
  .followme .social-list .social-link {
    border: 0;
    display: inline-block;
    text-align: center;
  }
  
  .followme .social-list .social-link .icon {
    font-size: 1.75em;
    height: 1.75em;
    width: 1.75em;
  }
  
  .followme .social-list .social-link .label {
    display: block;
    font-size: 14px;
  }
  
  .poem-wrap {
    position: relative;
    width: 730px;
    max-width: 80%;
    border: 2px solid #797979;
    border-top: none;
    text-align: center;
    margin: 80px auto;
  }
  
  .poem-wrap h1 {
    font-size: 30px;
    position: relative;
    margin-top: -20px;
    display: inline-block;
    letter-spacing: 4px;
    color: #797979;
  }
  
  .poem-wrap p {
    width: 70%;
    margin: auto;
    line-height: 30px;
    color: #797979;
  }
  
  .poem-wrap p#poem {
    font-size: 25px;
  }
  
  .poem-wrap p#info {
    font-size: 15px;
    margin: 15px auto;
  }
  
  .poem-border {
    position: absolute;
    height: 2px;
    width: 27%;
    background-color: #797979;
    
  }
  
  .poem-right {
    right: 0;
  }
  
  .poem-left {
    left: 0;
  }
  
  @media (max-width: 685px) {
    .poem-border {
      width: 20%;
    }
  }
  
  @media (max-width: 500px) {
    .poem-wrap {
      margin-top: 60px;
      margin-bottom: 20px;
      border-top: 2px solid #797979;
      border-radius: 10px; /* 添加圆角 */
    }
  
    .poem-wrap h1 {
      margin: 20px 6px;
    }
  
    .poem-border {
      display: none;
    }
  }