:root > * {
    --md-primary-fg-color:        #4b78d8;
    --md-primary-fg-color--light: #4b78d8;
    --md-primary-fg-color--dark:  #4b78d8;
  }
  /* #5F9EA0 */

  .twitter {
    color: #1DA1F2;
  }

  @keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
  }
  .heart {
    animation: heart 1000ms infinite;
  }
  
  