<!-- {% extends "base.html" %}

{% block content %}
  {{ super() }}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <div id="gitalk-container"></div>

  <script>
const gitalk = new Gitalk({
  clientID: '83bd44aa048509374b53',
  clientSecret: '7631ca823be6770789e2f88a230b549507ecb573',
  repo: 'Wcowin.github.io',      // The repository of store comments,
  owner: 'Wcowin',
  admin: ['Wcowin'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
  </script>
{% endblock %}
 -->
